<!DOCTYPE html>
<html>
  <head>
    <title>Successful SignUp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sign Up Successful</h1>
    <div>
     <strong> <a href="/signin">Login Here</a></strong>
      
  		<br>       
	</div>
  </body>
</html>